*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.tracker {
    display: flex;
    flex-direction: column;
    background-color: lightyellow;
    border: 4px solid blue;
    justify-content: center;
    align-items: center;
    margin: 35px;
    &_header {
        font-size: 65px;
        color: blue;
        
    }
    
}